@using Humanizer

@if (Folder != null)
{
    <div>
        <a href="folder/@Folder.Id">
            <Icon Type="@IconType.Fill.CaretDown"/>

            <span class="@ContainerClasses" style="display: inline-block;">
                @Folder.Name
                @if (Unwatched > 0)
                {
                    <sup class="ant-scroll-number" style="padding: 0 6px; color: #fff; font-size: 12px; text-align: center; border-radius: 10px; background-color: #007bff;">@Unwatched.ToMetric(decimals: 1)</sup>
                }
                @if (Downloaded > 0)
                {
                    <sup class="ant-scroll-number" style="padding: 0 6px; color: #fff; font-size: 12px; text-align: center; border-radius: 10px; background-color: #59b352">@Downloaded.ToMetric(decimals: 1)</sup>
                }
            </span>
        </a>

        @foreach (var subfolder in Folder.Subfolders)
        {
            <TreeFolder @key="subfolder.Id" Folder="subfolder" Parent="@(this)"/>
        }
        @if (Folder != null)
            @foreach (var subscription in Folder.Subscriptions.OrderBy(static f => f.Name))
        {
            <TreeSubscription @key="subscription.Id" Subscription="@subscription" Parent="this"/>
        }
    </div>
}
else
{
    <Skeleton/>
}
