@page "/Sessions"
@using MediaFeeder.Components.Layout
@using MediaFeeder.PlaybackManager

@layout ListLayout

<PageTitle>MediaFeeder Sessions</PageTitle>

<Content Style="background: #fff; padding: 1em;">
    <Tabs StandaloneInCard DefaultActiveKey="@(SessionManager?.PlaybackSessions.FirstOrDefault(s => s.State == PlayerState.Playing)?.Title)">
        @if (SessionManager != null)
        {
            @foreach (var session in SessionManager.PlaybackSessions)
            {
                <TabPane Key="@session.Title">
                    <TabTemplate>
                        <span style="font-size: 120%;">@(session.State switch {
                                                           PlayerState.Playing =>"⏵",
                                                           PlayerState.Advert =>"⏵",
                                                           PlayerState.Paused => "⏸",
                                                           PlayerState.Loading => "⧖",
                                                           _ => "⏹"
                                                       })
                        </span>
                        @(session.Title)
                    </TabTemplate>
                    <ChildContent>
                        <SessionInfo Session="@session"/>
                    </ChildContent>
                </TabPane>
            }
        }
    </Tabs>
</Content>

@code {
    [Inject] public PlaybackSessionManager? SessionManager { get; set; }

    protected override void OnParametersSet()
    {
        if (SessionManager != null)
            SessionManager.UpdateEvent += () => InvokeAsync(StateHasChanged);
    }
}
