@inherits FeedbackComponent<int?>
@using Blazored.FluentValidation

<Form Model="@Folder"
      LabelCol="new ColLayoutParam { Span = 8 }"
      WrapperCol="new ColLayoutParam { Span = 16 }"
      ValidateOnChange="@true"
      OnFinish="@OnFinish"
      @ref="@Form">
    <FluentValidationValidator/>
    <FormItem Label="Name" Required>
        <Input @bind-Value="@context.Name" required="required"/>
    </FormItem>
    <FormItem Label="Parent">
        <TreeSelect
            DataSource="@ExistingFolders"
            @bind-Value="@context.ParentId"
            Placeholder="Please select"
            ItemValue="static item => item.Id"
            ItemLabel="static item => item.Name"
            AllowClear
            EnableSearch
            TreeDefaultExpandAll
            MatchedStyle="font-weight: bold"
            ChildrenExpression="static node => node.DataItem.Subfolders"
            TitleExpression="static node => node.DataItem.Name"
            TitleTemplate="static node => node.DataItem.Name.ToRenderFragment()"
            KeyExpression="static node => node.DataItem.Id.ToString()"
            IsLeafExpression="static node => node.DataItem.Subfolders.Count == 0"
        />
    </FormItem>
</Form>
