@using Humanizer
@using MediaFeeder.Data
@if (Subscription != null)
{
    <TreeNode SelectedChanged="OnSelectedChanged" IsLeaf="true" TItem="ITreeSelectable" DataItem="@Subscription">
        <IconTemplate>
            <Image Src="@("/media/" + Subscription.Thumb)" Alt="Subscription Icon"
                   Style="max-width: 24px; max-height: 24px;"/>
        </IconTemplate>
        <TitleTemplate>
            <Badge Count="@Unwatched" Offset="(15, 0)" >
                <CountTemplate>
                    @if (Unwatched > 0)
                    {
                        <sup class="ant-scroll-number ant-badge-count" style="right:-15px;">
                            @Unwatched.ToMetric()
                        </sup>
                    }
                </CountTemplate>
                <ChildContent>
                <span>
                    @Subscription.Name
                </span>
                </ChildContent>
            </Badge>
        </TitleTemplate>
    </TreeNode>
}
else
{
    <Skeleton/>
}